<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Opname Car</title>
    <%- include('../addOn/link.ejs') %>

</head>
<body>

    <!-- Navbar -->
    <%- include('../addOn/navbar') %>

    <!-- Title -->
   <div class="container-fluid p-3 bg-black text-white text-center">
       <h1>Add New Car</h1>
   </div>

   <!-- Form -->
  
   <div class = "form-main container"> 
    <center>
    <form action="/car/add " method="post" > 
    </br>
    

     <div class="form-group">
         <label for="">Name</label>    
         <input type="text" name="name"  class="form-control   " >
     </div>
    </br>

    <div class="form-group">
        <label for="">Category ID</label>
        <select type="text" name="categoryId"  class="form-select col-sm-6 flex-column d-flex  " >
            <option value hidden selected>Select Category</option>
            <% categories.forEach(category =>{ %>
            <option value="<%= category.id%>"><%= category.id%>. <%= category.name%></option>
            <% }) %>
            <option value="new">New Category</option>
            
        </select>
    </div>
   </br>

   <div class="form-group">
    <label for="">New Category</label>    
    <input type="text" name="categoryName"  class="form-control col-sm-6 flex-column d-flex ">
    </div>
    </br>

   <div class="form-group">
    <label for="">CC</label>    
    <input type="text" name="cc"  class="form-control col-sm-6 flex-column d-flex ">
    </div>
    </br>

     <div class="form-group">
         <label for="">Transmisi</label>    
         <select type="text" name="transmisi"  class="form-select col-sm-6 flex-column d-flex ">
        <option value hidden selected>Choose Transmisi</option>    
        <option value="Automatic">Automatic</option>    
        <option value="Manual">Manual</option>    
</select>
        </div>
        
    </br>

     <div class="form-group">
         <label for="">Year</label>    
         <input type="text" name="year"  class="form-control col-sm-6 flex-column d-flex ">
     </div>
    </br>

     <div class="form-group">
        <label for="">Price</label>    
        <input type="text" name="price"  class="form-control col-sm-6 flex-column d-flex ">
    </div>
    </br>

    <div class="form-group">
        <label for="">Stock</label>    
        <input type="text" name="stock"  class="form-control col-sm-6 flex-column d-flex ">
    </div>
    </br>

     <div class="form-group">
         <button class= "btn btn-primary" type = "submit">SUBMIT</button>
     </div>
    </br>

     
    </form>
</center>
   
 </div>

    
  <%- include('../addOn/script.ejs') %>
</body>
</html>